body * {
    font-family: 'Roboto', sans-serif;
}

.carousel-indicators {
    bottom: 0;
}

.carousel-indicators li {
    background-color: #868E96;
    cursor: pointer;
}

.carousel-indicators .active {
    background-color: #007BFF;
}